@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-outfit: var(--font-outfit);
}

:root {
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}
